/* You can add global styles to this file, and also import other style files */
html, body, app-root, .fill {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.toolbar-overlay {
  position: fixed;
  z-index: 10000;
}
